<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    home-页ejs
    <%- include("./header.ejs",{isShowTitle:false}) %> 
    <ul>
        <% for(let i=0;i<list.length;i++){ %> 
            <li><%= list[i] %> </li>
        <% } %> 
    </ul>

    <div>最新消息-<%- myhtml %> </div>
    <div>最新消息-<%= myhtml %> </div>

    <!-- 我是注释 -->
    <%# 不会被别人看到 %> 
</body>
</html>